/* configuracion del body */

body{
    
    width: 85%;
    padding-left: 10%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(161, 156, 156);
}

body img{

    width: 70%;
    height: 150px;
    margin-left: 15%;
    padding: 5px;
    align-content: center;
}

