/* configuracion del body */

body{
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: linear-gradient(to left top, black, white);
}

body img{

    width: 70%;
    height: 150px;
    margin-left: 15%;
    padding: 5px;
    align-content: center;
}

