/* configuracion del body */

body{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: linear-gradient(to left top, black, white);
}

body img{

    width: 90%;
    height: 150px;
    margin-left: 50px;
    align-content: center;
}

