<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Productos</title>
        <!-- CSS Boostrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="shortcut icon" href="https://thumbs.dreamstime.com/b/logo-de-la-bombilla-el%C3%A9ctrica-e-icono-logotipo-electricidad-y-simple-vectorial-171580685.jpg">
        <link rel="stylesheet" href="../css/estilos.css">
        <!-- Palabras clave SEO -->
        <meta name="keywords" content="vision, mision">
        <!-- Description -->
        <meta name="description" content="Nuestra vision y mision">
    </head>
    
    <body> 
        <hr>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html">PROVEL</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                            <a class="nav-link" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="productos.html">Productos</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="conocenos.html">Conocenos</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        <hr>
       
        <main>
            <section class="conocenos">
                <p class="tituloPromocion"> Visi&oacuten y Misi&oacuten</p>
               <section>
                   <h2>Visi&oacuten</h2>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique deserunt obcaecati, molestiae delectus enim, voluptas dolor modi possimus ratione facilis recusandae! Incidunt quod commodi veritatis odio quisquam aperiam repellendus nesciunt.
                       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto dolorem excepturi quod enim nisi quo nemo adipisci quasi doloribus id et nostrum aspernatur sunt eveniet sed, saepe possimus aliquid earum?
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam officia libero dolores aperiam necessitatibus tempora odio quisquam mollitia molestias doloribus quod omnis culpa distinctio eveniet, temporibus vitae dolore aliquid quam.
                   </p>
               </section>
               <section>
                   <h2>Misi&oacuten</h2>
                   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti at voluptates expedita ex ut repellendus esse, quasi illo dignissimos maxime hic quisquam, consequatur impedit optio molestias! Asperiores, cum quo! Libero!
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. In quas neque animi reiciendis corrupti quo minima. Dolores, impedit quae ad ipsam veniam animi, assumenda laborum, exercitationem natus cum dicta repudiandae.
                       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus pariatur perspiciatis expedita provident dignissimos, rem aliquam illo, rerum soluta, minus eius! Deserunt reprehenderit animi distinctio deleniti voluptatem vitae laudantium expedita?
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore accusamus quos sint doloremque ratione facilis dolore! Excepturi voluptatem facilis velit eligendi blanditiis, iure vero itaque maxime in distinctio alias nulla.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quidem minus minima magni vero laborum iure eum tenetur fugiat nisi! Dicta excepturi illum quisquam necessitatibus nobis! Tempora, corporis facere. Dolorem!
                   </p>
               </section>
            </section>
        </main>
        <hr>
        <footer>
            Derechos reservados - 2021
        </footer>
        <!-- Insertamos el JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </body>
</html>
